.content {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.table_zone {
    width: 100%;
    margin-top: 15px;
}

table {
    width: 100%;
}

th {
    padding: 5px 15px;
    white-space: nowrap;
}

td {
    padding: 5px 15px;
}

.text_center {
    text-align: center;
}

.d-flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.column {
    flex-direction: column;
}

.small {
    width: 1px;
}
